node_modules/
.DS_Store
*.log
haters/
.next/
.build/
layout.md
variables.env
*.env
.keystone
*.db
.keystone/admin/.next/cache/next-babel-loader
.keystone/admin/.next/static/development/_buildManifest.js
.gitignore
.keystone/admin/.next/static/chunks/webpack.js
